:root {
    
    --initPosX : 0px;
    --initPosY : 0px;

    --posX : 800px;
    --posY : 600px;

    --delay : 8000ms;

}


@media (max-width: 1026px) {

    #btn { 
        display: none; 
    
    }
}


#btn {

    animation-name: animateButton;
    /* animation-duration: var(--delay); */
    animation-duration: 8000ms;
    animation-iteration-count: infinite;


}

@keyframes animateButton {


     0% {
        transform: translate(var(--initPosX),var(--initPosY));
}


  

    100% {
        transform: translate(var(--posX),var(--posY));
}

}